<ul class="msg-ul">
  <% messages.each(function (message){ %>
    <% if (message.escape("opened") == "false") { %>
    <li class="panel panel-primary msg-li" id="<%= message.id %>">
        <div class="panel-heading">
          <h3 class="panel-title msg-li-title">      
              <i class="fa fa-square-o"></i>
    <% } else { %>
    <li class="panel panel-warning msg-li" id="<%= message.id %>">
        <div class="panel-heading">
          <h3 class="panel-title msg-li-title">
            <i class="fa fa-check-square-o"></i> 
    <% } %>
    <%= message.escape("title") %>  
            <div class="msg-li-btns">
              <i class="fa fa-link msg-li-btn-link" rel="tooltip" title="Copied!" data-clipboard-text="<%= window.location.origin%>/#/messages/<%=message.id%>"></i> 
              <i class="fa fa-edit msg-li-btn-edit"></i> 
              <i class="fa fa-trash-o msg-li-btn-delete"></i> 
            </div>
          </h3>
        </div>
    </li>
  <% }); %>
</ul>